<div class="container-fluid ">
  <header class="doNotPrint" id="regio-cap">
    <div class="logos fam-header">
      <div class="row">
        <div class="col-12 logo-esq">
          <img src="http://lamp.diba.cat/maqueta-corporativa/img/cap-fam.png" alt="" class="pull-left logo60">
        </div>
        <div class="col-12 text-center fam-header-title">
          <div class="fam-header-text">
            <a [routerLink]="['/']">#EinaDS-DIBA</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default" id="regio-menu">
      <div class="container-fluid">
         <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left menu-esquerra" >
            <li><a [routerLink]="['/']">Llistat expedients per municipi: <b class="text-primary">{{ professional?.municipi?.descripcio }}</b></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right menu-dreta">
            <li class="first">
              <a href="#" data-toggle="modal" data-target="#info-usuari" title="Informació de l'usuari">
                <i class="fa fa-user fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#info-aplicacio" title="Informació de l'aplicació">
                <i class="fa fa-cog fa-lg"></i>
              </a>
            </li>
            <li class="last"><a href="#" title="Desconnecta"><i class="fa fa-power-off fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="info-usuari" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-user"></i> Informació de l'usuari</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">Nom</th>
                <td>Oriol Roselló Castells</td>
              </tr>
              <tr>
                <th scope="row">Oficina</th>
                <td>Oficina Tècnica d'Internet</td>
              </tr>
              <tr>
                <th scope="row">Rol</th>
                <td>Administrador</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="info-aplicacio" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-cog"></i> Informació de l'aplicació</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">Nom</th>
                <td>FAM</td>
              </tr>
              <tr>
                <th scope="row">Entorn</th>
                <td>Desenvolupament</td>
              </tr>
              <tr>
                <th scope="row">Versió</th>
                <td>1.1</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-default" style="border-bottom: white">
    <div class="container-fluid">
      <div class="navbar-collapse collapse">
          <ng-template [ngIf]="breadcrum">
            <ng-template ngFor [ngForOf]="breadcrum" let-bread let-c="index">
              <li class="float-left list-unstyled m-2"   *ngIf="c===0" >{{bread.url}} <b> ></b> </li>
              <li class="float-left list-unstyled m-2" *ngIf="c===1">{{bread.url}}  <b> ></b> </li>
              <li class="float-left list-unstyled m-2"  *ngIf="c===2" >Diagnostic DSDIBA- {{bread.url |  date:'dd/MM/yyyy'}}  <b> ></b> </li>
              <li class="float-left list-unstyled m-2" *ngIf="c===3">{{bread.url}}</li>
            </ng-template>
          </ng-template>
      </div>
    </div>
  </nav>
  <div id="regio-cos" role="main">
    <div class="row">
      <div class="col-sm-12" id="contingut">

        <!-- El teu contingut a columna completa.
        Si utilitzes menús laterals o dreceres cal afegir nous cols.
        -->
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
  <div class="clearfix sep-bottom-bloc"></div>
  <footer id="regio-peu" class="navbar-fixed-bottom sep-top-secundari">
    <div class="adreca">
      <address class="c-text-secundari text-center">
        <small>
          <a href="http://www.diba.cat" target="_blank" title="Diputació de Barcelona">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x c-diba" aria-hidden="true"></i>
            <i class="fa fa-home fa-stack-1x c-blanc" aria-hidden="true"></i>
          </span>
          </a>
          Diputació de Barcelona. Rambla de Catalunya, 126. 08008 Barcelona. Tel. 934 022 222
        </small>
      </address>
    </div>
  </footer>
</div>

