<div class="card-body text-center align-items-center align-content-center">
<div class="form-group row align-items-center text-center  ">
  <!-- Situacion social Basica -->
  <div class="form-group col-xs-6">

    <h3>Hi ha alguna situacio que afecti a {{comesFrom}} ?</h3>
  </div>
  <div class="form-group col-1">



    <label class="custom-control custom-radio">
      <input id="radio1" name="radio" type="radio" class="custom-control-input" (click)="emitStay(true)">
      <span class="custom-control-label">Si</span>
      <span class="custom-control-description"></span>
    </label>
  </div>

  <div class="form-group col-xs-1">
    <label class="custom-control custom-radio">
      <input id="radio2" name="radio" type="radio" class="custom-control-input" (click)="emitStay(false)">
      <span class="custom-control-label">No</span>
      <span class="custom-control-description"></span>
    </label>

  </div>

  </div>
</div>



<div style="padding: 0px" *ngIf="child">
<h3> La situacio afecta a menors</h3>
<label for="yes1">yes</label>
<input id="yes1" name="form1" type="radio" (click)="emitChild(true)">
<label for="no1">no</label>
<input id="no1" name="form1" type="radio" (click)="emitChild(false)">
</div>


<button *ngIf="viewButton"> Guardar </button>


