<!-- Search component -->
<app-search>

</app-search>
<br>

<!--/ Search component -->
<ngb-tabset [activeId]="index">

  <ngb-tab id="1" [disabled]="false" >
    <ng-template ngbTabTitle> <p> Autonomia</p> </ng-template>

    <ng-template ngbTabContent >
      <app-check-form *ngIf=" checkTab('Autonomia',1) && !disapear" (stay)="fnStay($event,1);"  [access]="false" >
      </app-check-form>

      <app-ambit-autonomia-tab *ngIf="stay"  [personsSelector]="personActives" (endForm)="goBackCheckForm(1);" (before)= "beforeTab()" [(ngModel)]="diagnostico" [idDiagnostic]="diagnosisID">
      </app-ambit-autonomia-tab>

    </ng-template>
  </ngb-tab>
  <ngb-tab id="2"   [disabled]="tabsActivate.tabAmbitMaterialActivate" >
    <ng-template ngbTabTitle > <p > Material e instrumental</p> </ng-template>
    <ng-template ngbTabContent>

      <app-check-form (entornsMaterial)="entornsMaterial = $event;"
                      *ngIf=" checkTab('MATERIAL I INSTRUMENTAL',1) && !disapear"
                      (stay)="fnStay($event,2)"
                      [access]="true"
                      [ambit]="material"
                      (tabActivated)="tabsActivate.tabAmbitMaterialActivate = false">
      </app-check-form>

      <app-ambit-material-tab *ngIf="stay"  (endForm)="goBackCheckForm(2)" (before)="beforeTab()" [groupMaterial] ="entornsMaterial" [(ngModel)]="diagnostico" [personsSelector]="personActives" [idDiagnostic]="diagnosisID">
      </app-ambit-material-tab>

    </ng-template>
  </ngb-tab>
  <ngb-tab id="3" [disabled]="tabsActivate.tabAmbitRelacionalActivate">
    <ng-template ngbTabTitle > <p > Relacional</p> </ng-template>
    <ng-template ngbTabContent>

      <app-check-form (entornsRelacional)="entornsRelacional = $event;" *ngIf=" checkTab('RELACIONAL',1) && !disapear"  (stay)="fnStay($event,3)"  [access]="true" [ambit]="relacional" (tabActivated)="tabsActivate.tabAmbitRelacionalActivate = false" >
      </app-check-form>

      <app-ambit-relacional-tab *ngIf="stay"  (endForm)="goBackCheckForm(3)" (before)="beforeTab()" [groupRelacional] ="entornsRelacional" [(ngModel)]="diagnostico" [personsSelector]="personActives" [idDiagnostic]="diagnosisID">
      </app-ambit-relacional-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="4" [disabled]="tabsActivate.tabGlobalitatCasActivate">
    <ng-template ngbTabTitle > <p > Globalitat del cas</p> </ng-template>
    <ng-template ngbTabContent>

      <app-globalitat-tab   (endForm)="goBackCheckForm(4)" (before)="beforeTab()" (tabActivated)="tabsActivate.tabGlobalitatCasActivate = false" [(ngModel)]="diagnostico" [personsSelector]="personActives" [idDiagnostic]="diagnosisID">
      </app-globalitat-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="5" [disabled]="tabsActivate.tabValoracioDiagnosticActivate" >
    <ng-template ngbTabTitle > <p > Valoracio del diagnostic</p> </ng-template>
    <ng-template ngbTabContent>

      <app-valoracio-diagnostic-tab  [idExpedient]="expedientID" (endForm)="goBackCheckForm(5)" (before)="beforeTab()" (tabActivated)="tabsActivate.tabValoracioDiagnosticActivate = false" [(ngModel)]="diagnostico" [idDiagnostic]="diagnosisID"> </app-valoracio-diagnostic-tab>
    </ng-template>
  </ngb-tab>



</ngb-tabset>
<pre>{{diagnostico|json}}</pre>
