<!-- Search component -->
<app-search>

</app-search>
<br>

<!--/ Search component -->

<ngb-tabset [activeId]="index">
  <ngb-tab id="1" [disabled]="true" class="bg-danger" #tab1 title="Autonomia">
    <ng-template ngbTabContent>

      <app-check-form *ngIf="!disapear" (stay)="fnStay($event)" [comesFrom] = "'l\'ambit d\'autonomia'">
      </app-check-form>

      <app-ambit-autonomia-tab *ngIf="stay"  (endForm)="goBackCheckForm()">
      </app-ambit-autonomia-tab>

    </ng-template>
  </ngb-tab>
  <ngb-tab id="2" [disabled]="true" title="Material e instrumental">
    <ng-template ngbTabContent>

      <app-check-form *ngIf="!disapear" (stay)="fnStay($event)"  [comesFrom]="'l\'ambit material e instrumental'">
      </app-check-form>

      <app-ambit-material-tab *ngIf="stay"  (endForm)="goBackCheckForm()">
      </app-ambit-material-tab>

    </ng-template>
  </ngb-tab>
  <ngb-tab id="3" [disabled]="true" title="Relacional">
    <ng-template ngbTabContent>

      <app-check-form *ngIf="!disapear"  (stay)="fnStay($event)"  [comesFrom]="'l\'ambit relacional '"  >
      </app-check-form>

      <app-ambit-relacional-tab *ngIf="stay"  (endForm)="goBackCheckForm()">
      </app-ambit-relacional-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="4" [disabled]="true" title="Globalitat del cas">
    <ng-template ngbTabContent>
      <app-check-form *ngIf="!disapear" (stay)="fnStay($event)" [comesFrom]="' la globalitat del cas'">
      </app-check-form>

      <app-globalitat-tab *ngIf="stay"  (endForm)="goBackCheckForm()">
      </app-globalitat-tab>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="5" [disabled]="true" title="Valoracio del diagnostic">
    <ng-template ngbTabContent>
      <app-check-form *ngIf="!disapear" (stay)="fnStay($event)" [comesFrom]="'la valoracio del diagnostic'" >
      </app-check-form>

      <app-valoracio-diagnostic-tab *ngIf="stay"  (endForm)="goBackCheckForm()">
      </app-valoracio-diagnostic-tab>
    </ng-template>
  </ngb-tab>



</ngb-tabset>
