<!-- Search component -->
<app-search></app-search>
<!--/ Search component -->

<!-- Home Component -->
  <section id="home">
    <h1 class="text-center mt-5">{{ city }}</h1>
    <h2 class="text-center mb-4">{{ "TITLE.home-h2" | translate }}</h2>

    <div class="card font-weight-bold">
      <!-- Table -->
      <app-table-list [tableData]="data"
                      [options]="options"
                      [rowTemplate]="myRow"
                      (reloadData)="reloadData()">

        <ng-template #myRow let-item>
          <td class="bg-table text-black-50 text-center">
            <a [routerLink]="['/file-detail', {'id': item.id}]">{{item.id}}</a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/file-detail', {'id': item.id}]">{{item.createdate}}</a>
          </td>
          <td>
            <a [routerLink]="['/file-detail', {'id': item.id}]">{{item.owner}}</a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/file-detail', {'id': item.id}]">{{item.updatedate}}</a>
          </td>
          <td class="text-center text-capitalize" [ngClass]="{'warning' : item.status === 'incomplet', 'success' : item.status === 'complet'}">
            <a [routerLink]="['/file-detail', {'id': item.id}]">{{item.status}}</a>
          </td>
        </ng-template>
      </app-table-list>
      <!--/ Table -->
    </div>
  </section>
<!--/ Home Component -->
