
<p>Evidencies autonomia</p>

<app-table-list [tableData]="data"
                [options]="options"
                [rowTemplate]="myRow"
                (reloadData)="reloadData()">

  <ng-template #myRow let-item>
    <td>
      {{item.ssb}}
    </td>
    <td>

        <select>
          <option *ngFor="let method of item.persona">{{ method }}</option>
        </select>

    </td>
    <td>
      {{item[0].gravetat}}
    </td>

  </ng-template>
</app-table-list>

<app-table-list [tableData]="data"
                [options]="options"
                (reloadData)="reloadData()">
</app-table-list>
<app-table-list [tableData]="data"
                [options]="options2"
                (reloadData)="reloadData()">
</app-table-list>

<button (click)="emitEnd()">-></button>
