.bg-primary-exact {
  -webkit-print-color-adjust: exact;
  background-color: rgb(137,21,54)!important;
}
.bg-primary-40 {
  -webkit-print-color-adjust: exact;
  background-color: rgba(137,21,54,0.4)!important;
}
.bg-primary-60 {
  -webkit-print-color-adjust: exact;
  background-color: rgba(137,21,54,0.6)!important;
}
.bg-primary-80 {
  -webkit-print-color-adjust: exact;
  background-color: rgba(137,21,54,0.8)!important;
}
