
<!-- titulo -->
<div class="form-group">
  <div class="p-3 mt-1">
    <h4 class="mt-1" *ngIf="this.contextualitzacio !== 'Globalitat del cas'">{{ "TABTITLE.titleAutonomia" | translate }} {{this.contextualitzacio | titlecase}}
    </h4>
    <h4 class="mt-1" *ngIf="this.contextualitzacio === 'Globalitat del cas'">{{ "TABTITLE.titleGloablitat" | translate }} {{this.contextualitzacio | titlecase}}
    </h4>
  </div>
</div>

<!--Factores Economicos-->
<ng-template #valoration let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id=""><span class="text-primary">La família/unitat conviència té dificultats per:</span></h4>
  </div>

  <form>
    <div class="modal-body">
      <div class="form-group">
        <ng-template ngFor [ngForOf]="data.factorEconomic" let-economic let-x="index">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label"></span>
            <span class="custom-control-description"><b>{{x+1}}.</b> {{economic.descripcio}}</span>
          </label>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Guardar</button>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancelar</button>
    </div>
  </form>
</ng-template>
<!--/ Factores Economicos -->

<!--/ titulo -->
<form #formTab="ngForm" ngNativeValidate (ngSubmit)="emitEnd()" *ngIf="data && value">
  <div class="card-body pt-0">
    <ng-template [ngIf]="contextualitzacio.toLocaleUpperCase() !== 'GLOBALITAT DEL CAS'">
    <div class="p-3 bg-primary border border-dark">
      <h5 class="text-white ">Situació social</h5>
    </div>
    <div class="form-group row bg-grey-300 m-0 mt-3 py-2 mb-0">
    <ng-template ngFor [ngForOf]="data.ambits" let-ambit>
      <ng-template ngFor [ngForOf]="ambit.entorns" let-entorn let-e="index">
        <ng-template [ngIf]="(groupRelacional.social && entorn.descripcio === 'Entorn Social' )
      || (groupRelacional.family && entorn.descripcio === 'Entorn Familiar')
      || (groupRelacional.school && entorn.descripcio === 'Entorn Escolar')
      ||(groupMaterial.house && entorn.descripcio === 'Entorn habitatge' )
      || (groupMaterial.economic && entorn.descripcio === 'Entorn Económic')
      || (groupMaterial.work && entorn.descripcio === 'Entorn Laboral')
       || (entorn.descripcio===contextualitzacio && !groupRelacional.school && !groupRelacional.family
      && !groupRelacional.social && !groupMaterial.economic && !groupMaterial.work && !groupMaterial.house)">
          <ng-template ngFor [ngForOf]="entorn.preguntes" let-pregunta let-i="index">
            <div class="form-group row col-12 py-2">
              <!-- Situacion social Basica -->
              <div class="col-5">
                <label class="col-12" for="ssb" >{{ "TABLE.basicSocialSituation" | translate }} <i class= "fa fa-question-circle" aria-hidden="true" [ngbPopover]="pregunta.definicio" placement="right" triggers="mouseenter:mouseleave" [popoverTitle]="pregunta.social"></i></label>
                <input  *ngIf="!pregunta.social.includes('Ingressos insuficients (E.2)')" type="text" class="form-control " [value]= "pregunta.social " disabled  >
                <!-- situacio social De Ingressos insuficients-->
                <div *ngIf="pregunta.social.includes('Ingressos insuficients (E.2)')" class="form-group row col-12">
                  <input  type="text" class="form-control col-9 "[value]= "pregunta.social " disabled >
                  <button type="button" class=" col-3 btn btn-outline-primary" (click)="open(valoration)" ><i class="fa fa-search-plus" aria-hidden="true"></i> Valoracio </button>
                </div>
                <!--/ situacio social De Ingressos insuficients-->
              </div>
              <!--/ Situacion social Basica -->

              <!-- Aplicatiu -->
              <div class="col-1">
                <div class="col-12">
                  <div class="form-group align-items-center col-12 text-center">
                    <label > {{ "TABLE.apl" | translate }}</label>
                    <label class="custom-control custom-checkbox p-0 pl-2 apply">
                      <input type="checkbox"
                             class="custom-control-input position-relative"
                             [ngModel]="getFirstPregunta(pregunta.id , ambit, entorn)"
                             (click)=" newPregunta(pregunta.social , pregunta.id , ambit, entorn);"
                             name="aplica{{e}}{{i}}">
                      <span class="custom-control-label"></span>
                      <span class="custom-control-description"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!--/ Aplicatiu -->

              <!-- Persones -->
              <div class="col-2">
                <div class="col-12">
                  <label for="t1person" >{{ "TABLE.person" | translate }} </label>
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <!--<div *ngIf="getFirstPregunta(pregunta.id , ambit, entorn)" class="input-group-text " (click)="addPreguntaRepeat(pregunta.social , pregunta.id , ambit, entorn) ">-->
                      <!--<i class="fa fa-user-plus " > </i>-->
                      <!--</div>-->
                    </div>
                    <select class="form-control" id="t2person"
                            [value]="cleanSelects"
                            [disabled]="!getFirstPregunta(pregunta.id , ambit, entorn) "
                            [ngModel]="getFirstPregunta(pregunta.id , ambit, entorn)?.persona?.tipusPersona?.descripcio"
                            (ngModelChange)="changePersona(getFirstPregunta(pregunta.id , ambit, entorn), $event)"
                            name="persona{{e}}{{i}}">
                      <option disabled selected value ></option>
                      <option *ngFor="let person of personsSelector"> {{person.tipusPersona.descripcio}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--/ Persones -->

              <!-- Severity -->
              <ng-template #popContentSeverity></ng-template>
              <div class="col-1">
                <div class="col-12">
                  <label for="t1severity" >{{ "TABLE.severity" | translate }} <i class="fa fa-question-circle"

                                                                                 aria-hidden="true" [ngbPopover] =  "'EMERGENTS.Gravetat' | translate "
                                                                                 placement="right"
                                                                                 triggers="mouseenter:mouseleave" [popoverTitle]=" 'TABLE.severity' | translate  "></i></label>
                  <select class="form-control" id="t2severity"
                          [required]="getFirstPregunta(pregunta.id , ambit, entorn)"
                          [value]="cleanSelects"
                          [disabled]="!getFirstPregunta(pregunta.id , ambit, entorn)"
                          [ngModel]="getFirstPregunta(pregunta.id , ambit, entorn)?.gravetat?.descripcio"
                          (ngModelChange)="getValueGravetat(getFirstPregunta(pregunta.id , ambit, entorn), ambit , entorn , $event)"
                          name="severitySelected{{e}}{{i}}">
                    <option disabled selected value></option>
                    <option *ngFor="let option of pregunta.selectors "> {{option.gravetat.descripcio}}  </option>
                  </select>
                </div>
              </div>
              <!--/ Severity -->
              <!-- Frequencia -->
              <div class="col-1">
                <div class="col-12">
                  <label for="t1frequency" >{{ "TABLE.frequency" | translate }} <i class="fa fa-question-circle"
                                                                                   aria-hidden="true"
                                                                                    [ngbPopover] =  "'EMERGENTS.Frequencia' | translate "
                                                                                   placement="right"
                                                                                   triggers="mouseenter:mouseleave"
                                                                                   [popoverTitle]=" 'TABLE.severity' | translate  "></i></label>
                  <select class="form-control" id="t2frequency" [required]="getFirstPregunta(pregunta.id,ambit, entorn)"
                          [value]="cleanSelects"
                          [disabled]="!getFirstPregunta(pregunta.id,ambit, entorn)"
                          [ngModel]="getFirstPregunta(pregunta.id,ambit, entorn)?.frequencia?.descripcio"
                          (ngModelChange)="getFirstPregunta(pregunta.id,ambit, entorn).frequencia.descripcio = $event"
                          name="frequencySelected{{e}}{{i}}"
                          (change)="getValueFrequencia(getFirstPregunta(pregunta.id,ambit, entorn),pregunta.id) ">
                    <option disabled selected value></option>
                    <option  *ngFor="let frequencia of getFrequencia(getFirstPregunta(pregunta.id,ambit, entorn)?.gravetat?.descripcio,pregunta.selectors)" > {{frequencia.frequencia.descripcio}}  </option>
                  </select>
                </div>
              </div>
              <!--/ Frequencia -->
              <!-- riskFactors -->
              <div class="col-2">
                <label for="t1riskFactor" >{{ "TABLE.riskFactors" | translate }}</label>
                <input type="text"
                       [ngClass]="{'warning' : getFirstPregunta(pregunta.id,ambit, entorn)?.factor?.descripcio?.toUpperCase() === 'RISC',
                                   'danger' : getFirstPregunta(pregunta.id,ambit, entorn)?.factor?.descripcio?.toUpperCase() === 'ALT RISC',
                                   'success' : getFirstPregunta(pregunta.id,ambit, entorn)?.factor?.descripcio?.toUpperCase() === 'VULNERABILITAT',
                                   'info' : getFirstPregunta(pregunta.id,ambit, entorn)?.factor?.descripcio?.toUpperCase() === 'SENSE VALORACIÓ' }"
                       class="form-control text-center" id="t1riskFactor"
                       disabled
                       [value]="getFirstPregunta(pregunta.id,ambit, entorn)?.factor?.descripcio">
              </div>
            </div>
               <!--&lt;!&ndash;Bucle for para cada fila  &ndash;&gt;-->
              <!--<ng-container *ngFor="let method of getPreguntas(pregunta.id , ambit, entorn)  ; let x = index">-->
                <!--<ng-container *ngIf="method.situacioSocial.id === pregunta.id && x!= 0 ">-->
                  <!--&lt;!&ndash; Situacio Social&ndash;&gt;-->
                  <!--<div class="form-group col-4">-->
                  <!--</div>-->
                  <!--&lt;!&ndash;/ Situacio Social&ndash;&gt;-->

                  <!--&lt;!&ndash;Aplicatiu &ndash;&gt;-->
                  <!--<div class="col-xs-1">-->
                    <!--<div class="col-12">-->
                      <!--<div class="form-group align-items-center col-12 ">-->
                        <!--<label class="custom-control custom-checkbox position-relative">-->

                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;/ Aplicatiu &ndash;&gt;-->

                  <!--&lt;!&ndash; Persones &ndash;&gt;-->
                  <!--<div class="col-2">-->
                  <!--<div class="col-12">-->

                    <!--<div class="input-group mb-2 mr-sm-2">-->
                      <!--<select class="form-control"-->
                              <!--[value]="cleanSelects"-->
                              <!--[disabled]="!getPreguntas(method.id , ambit , entorn)"-->
                              <!--[ngModel]="getPreguntas(method.id, ambit , entorn)?.persona?.tipusPersona?.descripcio"-->
                              <!--(ngModelChange)="setPersona(method.situacioSocial.id,$event)"-->
                              <!--name="persona{{i}}{{x}}">-->
                        <!--<option disabled selected value ></option>-->
                        <!--<option *ngFor="let person of personsSelector"> {{person.tipusPersona.descripcio}}</option>-->
                      <!--</select>-->
                    <!--</div>-->

                  <!--</div>-->
            <!--</div>-->

                  <!--&lt;!&ndash;/ Persones &ndash;&gt;-->

                  <!--&lt;!&ndash; Severity &ndash;&gt;-->


                  <!--<ng-template #popContentSeverity></ng-template>-->
                  <!--<div class="col-xs-2">-->
                    <!--<div class="col-12">-->
                      <!--<select class="form-control" id="severity{{x}}{{i}}"-->
                              <!--[required]="getPreguntas(method.id)"-->
                              <!--[value]="cleanSelects"-->
                              <!--[disabled]="!getPreguntas(method.id)"-->
                              <!--[ngModel]="getPreguntas(method.situacioSocial.id)?.gravetat?.descripcio"-->
                              <!--(ngModelChange)="getPreguntas(method.situacioSocial.id).gravetat.descripcio = $event;"-->
                              <!--name="severitySelected{{i}}{{x}}"-->
                              <!--(change)="getValueGravetat(getPreguntas(method.situacioSocial.id)?.gravetat,pregunta.id)">-->
                        <!--<option disabled selected value></option>-->
                        <!--<option *ngFor="let option of pregunta.selectors "> {{option.gravetat.descripcio}}  </option>-->
                      <!--</select>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;/ Severity &ndash;&gt;-->
                  <!--&lt;!&ndash; Frequencia &ndash;&gt;-->
                  <!--<div class="col-2">-->
                    <!--<div class="col-12">-->

                      <!--<select class="form-control" id="t1frequency"-->
                              <!--[required]="pregunta.apl"-->
                              <!--[value]="cleanSelects" [disabled]="">-->
                        <!--<ng-container *ngFor="let gravedades of pregunta.selectors">-->
                          <!--<option disabled selected value></option>-->
                          <!--<option *ngFor="let frequencia of gravedades.frequencia"> {{frequencia.frequencia.descripcio}}  </option>-->
                        <!--</ng-container>-->
                      <!--</select>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;/ Frequencia &ndash;&gt;-->
                  <!--&lt;!&ndash; riskFactors &ndash;&gt;-->
                  <!--<div class="form-group col-2">-->
                    <!--<input type="text" class="form-control" id="t5riskFactor"   disabled>-->
                  <!--</div>-->
                <!--</ng-container>-->
              <!--</ng-container>-->
          </ng-template>


        </ng-template>



      </ng-template>
      <div class="form-group row col-12 px-3">
        <ng-template [ngIf]="(contextualitzacio === 'MATERIAL I INSTRUMENTAL' && ambit.descripcio === 'MATERIAL I INSTRUMENTAL')">
          <ng-template [ngIf]="(!groupMaterial.work)">
            <button class="btn btn-primary mr-3"(click)="groupMaterial.work = true" > <i class="fa fa-plus" aria-hidden="true"></i> Afegir entorn de treball </button>
          </ng-template>
          <ng-template [ngIf]="(!groupMaterial.economic )">
            <button class="btn btn-primary mr-3" (click)="groupMaterial.economic = true" ><i class="fa fa-plus" aria-hidden="true"></i> Afegir entorn economic </button>
          </ng-template>
          <ng-template [ngIf]="(!groupMaterial.house)">
            <button  class="btn btn-primary mr-3" (click)="groupMaterial.house = true" ><i class="fa fa-plus" aria-hidden="true"></i> Afegir entorn d'habitatge </button>
          </ng-template>
        </ng-template>
      </div>
      <div class="form-group row col-12 px-3">
        <ng-template [ngIf]="(contextualitzacio === 'RELACIONAL' && ambit.descripcio === 'RELACIONAL')">
          <ng-template [ngIf]="(!groupRelacional.social)">
            <button class="btn btn-primary mr-3"(click)="groupRelacional.social = true" > <i class="fa fa-plus" aria-hidden="true"></i> Afegir entorn social </button>
          </ng-template>
          <ng-template [ngIf]="(!groupRelacional.family )">
            <button class="btn btn-primary mr-3" (click)="groupRelacional.family = true" ><i class="fa fa-plus" aria-hidden="true"></i> Afegir entorn familiar </button>
          </ng-template>
          <ng-template [ngIf]="(!groupRelacional.school)">
            <button  class="btn btn-primary mr-3" (click)="groupRelacional.school = true" ><i class="fa fa-plus" aria-hidden="true"></i> Afegir entorn escolar </button>
          </ng-template>
        </ng-template>
      </div>
    </ng-template>
    </div>
    </ng-template>
    <div class="p-3 bg-secondary mt-3 border border-dark">
      <h5 class="text-white">Contextualització <i class="fa fa-question-circle"
                                                 aria-hidden="true"
                                                 [ngbPopover] =  "'EMERGENTS.Factorsdecontext' | translate "
                                                 placement="right"
                                                 triggers="mouseenter:mouseleave"
                                                 popoverTitle=" Contextualització "></i> </h5>
    </div>
    <div class="form-group row bg-grey-300 border m-0 mt-3 py-2 mb-0">
      <ng-template ngFor [ngForOf]="data.ambits" let-ambit>
      <ng-template ngFor [ngForOf]="ambit.factors_context" let-cont let-c="index">
          <ng-template [ngIf]="cont.ambit.descripcio === contextualitzacio">

            <div class="form-group row col-12 py-2">
            <!-- Situacion social Basica -->
            <div class="col-5">
              <label for="ssb">{{ "TABLE.contextFactor" | translate }}</label>
              <input type="text" class="form-control" id="ssb" value="{{cont.descripcio}}" disabled>
            </div>
            <!--/ Situacion social Basica -->

            <!-- Aplica 1 persona-->
            <div class="col-1">
              <div class="col-12">
                <div class="form-group align-items-center col-12 text-center">
                  <label style="font-size: x-small" *ngIf="contextualitzacio.toUpperCase() !== 'GLOBALITAT DEL CAS'"> {{ "TABLE.aplUna" | translate }}</label>
                  <label style="font-size: x-small" *ngIf="contextualitzacio.toUpperCase() === 'GLOBALITAT DEL CAS'"> {{ "TABLE.apl" | translate }}</label>
                  <label class="custom-control custom-checkbox apply">
                    <input type="checkbox" class="custom-control-input position-relative"
                            [disabled]="getFirtsContexto(cont.id , ambit , cont )?.mesUc"
                           [ngModel]="getFirtsContexto(cont.id , ambit , cont )?.membreUnic"
                           (click)="newPreguntaContext(ambit , cont, 'unic')"
                           name="aplicaContextUn{{c}}">
                    <span class="custom-control-label"></span>
                    <span class="custom-control-description"></span>
                  </label>
                </div>
              </div>
            </div>
            <!--/ Aplica 1 persona-->

            <!-- Persones -->
            <div class="col-2"  *ngIf="contextualitzacio.toUpperCase() !== 'GLOBALITAT DEL CAS'" >
              <div class="col-12">
                <label for="t1person">{{ "TABLE.person" | translate }} </label>
                <select class="form-control" id="t1person" name="personas{{c}}"
                        [required]="getFirtsContexto(cont.id , ambit , cont )?.membreUnic"
                        [value]="cleanSelects"
                        [disabled]="!getFirtsContexto(cont.id , ambit , cont )?.membreUnic || getFirtsContexto(cont.id , ambit , cont )?.mesUc"
                        [ngModel]="getFirtsContexto(cont.id , ambit , cont )?.persona?.tipusPersona?.descripcio"
                        (ngModelChange)="changePersonaSelector(getFirtsContexto(cont.id , ambit , cont ), $event)">

                  <option disabled selected value></option>
                  <option *ngFor="let person of personsSelector"> {{person.tipusPersona.descripcio}}</option>
                </select>
              </div>
            </div>

            <!--/ Persones -->
            <!--aplica mes de una persona-->

            <div class="col-2" *ngIf="contextualitzacio.toUpperCase() !== 'GLOBALITAT DEL CAS'">
              <div class="col-12">
                <div class="form-group align-items-center col-12 text-center">
                  <label style="font-size: x-small">  {{ "TABLE.aplMas" | translate }}</label>
                  <label class="custom-control custom-checkbox apply">
                    <input type="checkbox" class="custom-control-input position-relative" name="aplicaContextMesUn{{c}}"
                           [disabled]="getFirtsContexto(cont.id , ambit , cont )?.membreUnic"
                           [ngModel]="getFirtsContexto(cont.id , ambit , cont )?.mesUc"
                           (click)="newPreguntaContext(ambit , cont, 'mes')">
                    <span class="custom-control-label"></span>
                    <span class="custom-control-description"></span>
                  </label>
                </div>
              </div>
            </div>
            <!--/ aplica mes de una persona-->
            <!-- Severity -->


            <div class="col-2">
              <div class="col-12">
                  <label for="t1riskFactor" >{{ "TABLE.types" | translate }}</label>
                  <input type="text" class="form-control text-center" id="t1riskFactor"  disabled name="risc{{c}}"
                         [ngModel]="getFirtsContexto(cont.id , ambit , cont )?.factor?.gravetat?.descripcio"
                         [ngClass]="{'danger' : getFirtsContexto(cont.id , ambit , cont )?.factor?.gravetat?.descripcio.toUpperCase() === 'RISC',
                                      'success' : getFirtsContexto(cont.id , ambit , cont )?.factor?.gravetat?.descripcio.toUpperCase() === 'PROTECCI&#211;' }">

              </div>
            </div>
            <!--/ Severity -->
            <!--/ FACTOR DE CONTEXTUALITZACIO -->
            <!--/  riskFactors -->
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-6 float-left">
      <button type="button" class="btn btn-danger ml-3 mb-1" (click)="clean();"><i class="fa fa-times" aria-hidden="true"></i> Esborrar </button>
    </div>
    <div class="form-group col-6 float-right text-right">
      <button  type="submit"  class="mr-3 mb-1 btn btn-outline-success" ><i class="fa fa-arrow-right" aria-hidden="true"></i> Seguent </button>
    </div>

  </div>
  <ng-template #esborrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title"><span class="text-primary">ALERTA</span></h4>
    </div>
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label >Es perdran les dades introduides <span class="text-primary"></span></label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" (click)="clean();modal.dismiss('Cross click')">Esborrar</button>
          <button type="button" class="btn btn-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancelar</button>
        </div>
      </div>
    </form>
  </ng-template>

</form>


