.top-right{
  top: 0.6em;
  right: 1em;
}
.top-right-double{
  top: 0.6em;
  right: 1.5em;
}
.opaco{
  background: rgba(137, 21, 54, 0.5)!important;
}

ngb-popover-window h3.popover-header {
  background: azure;
}
.bg-primary-20 {
  background-color: rgba(137,21,54,0.2);
}
.bg-primary-40 {
  background-color: rgba(137,21,54,0.4);
}
.bg-primary-60 {
  background-color: rgba(137,21,54,0.6);
}
.bg-primary-80 {
  background-color: rgba(137,21,54,0.8);
}


