<!-- Search component -->
<app-search></app-search>
<!--/ Search component -->

<!-- Form Detail -->
<section id="file-detail">
  <h2 class="text-center mb-4">{{ "TITLE.file-h2" | translate }}</h2>
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <!-- File ID -->
        <div class="col-6">
          <div class="col-12">
            <label for="fileId"
                   class="col-form-label">
              {{ "FORM.fileId" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.codi}}"
                   id="fileId"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File ID -->
        <!-- File Owner -->
        <div class="col-6">
          <div class="col-12">
            <label for="owner"
                   class="col-form-label">
              {{ "FORM.fileOwner" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.professional?.nom}} {{expedient?.professional?.cognom1}} {{expedient?.professional?.cognom2}}"
                   id="owner"
                   disabled="disabled">
          </div>
        </div>
        <!-- File Owner -->
      </div>
      <div class="form-group row">
        <!-- File Date -->
        <div class="col-6">
          <div class="col-12">
            <label for="fileDate"
                   class="col-form-label">
              {{ "FORM.fileDate" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.dataCreacio | date:'dd/MM/yyyy'}}"
                   id="fileDate"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File Date -->
        <!-- File Family -->
        <div class="col-6">
          <div class="col-12">
            <label for="totalFamilia"
                   class="col-form-label">
              {{ "FORM.totalFamilia" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.totalFamilia}}"
                   id="totalFamilia"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File Family -->
      </div>
      <div class="form-group row">
        <!-- Unity Family -->
        <div class="col-12">
          <div class="col-12 text-center">
            <label class="col-form-label">
              {{ "FORM.fileUFamily" | translate }}
            </label>
            <app-table-list [tableData]="dataUnityFamily"
                            [options]="optionsUF"
                            [rowTemplate]="unityFamily"
                            (reloadData)="reloadDataTable()">

              <ng-template #unityFamily let-item >
                  <td class="text-center" [ngClass]="{'info' : item.referencia === true}">
                    {{item.tipusPersona.descripcio}}
                    <i *ngIf="item.referencia === true"
                       class="icon ion-information-circled float-left"
                       placement="right"
                       ngbTooltip="Persona de referencia">
                    </i>
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.sexe}}
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.dataNaixement | date:'dd/MM/yyyy'}}
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.dataAlta | date:'dd/MM/yyyy'}}
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.dataBaixa | date:'dd/MM/yyyy'}}
                    <button *ngIf="item.dataBaixa === '' || item.dataBaixa === null"
                            class="btn btn-outline-primary"
                            (click)="open(content)">
                      {{ "TABLE.toUnsubscribe" | translate }}
                    </button>

                    <!-- Modal Unsuscription -->
                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title"
                            id="modal-unsubscribe">
                          <span class="text-primary">
                            {{ "TABLE.toUnsubscribe" | translate }}:
                          </span>
                          {{item.tipusPersona.descripcio}}
                        </h4>
                        <button type="button"
                                class="close bg-primary text-white"
                                aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form #FormUnsuscription="ngForm">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="date-unsubscribe">
                              {{ "TABLE.dataUnsubscribe" | translate }}
                              <span class="text-primary">*</span>
                            </label>
                            <div class="input-group">
                              <input id="date-unsubscribe"
                                     name="dataBaixa"
                                     class="form-control"
                                     placeholder="dd-mm-yyyy"
                                     type="date"
                                     min="{{ toDate | date:'dd/MM/yyyy' }}"
                                     [(ngModel)]="item.dataBaixa"
                                     [required]="true">
                            </div>
                          </div>
                          <div class="form-group"
                               *ngIf="item.referencia === true">
                            <label for="date-unsubscribe">
                              {{ "TABLE.newRef" | translate }}
                              <span class="text-primary">*</span>
                            </label>
                            <div class="input-group">
                              <select id="new-person-ref"
                                      class="form-control"
                                      [required]="true"
                                      name="newRefPerson"
                                      (change)="newRefPerson(newRefMember)"
                                      (ngModelChange)="newRefMember = $event"
                                      [(ngModel)]="newRefMember">
                                <ng-container *ngFor="let memberRef of expedient?.persona">
                                  <option *ngIf="memberRef.id != item.id && !memberRef.dataBaixa" [ngValue]="memberRef">
                                    {{ memberRef.tipusPersona.descripcio }}
                                  </option>
                                </ng-container>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit"
                                  class="btn btn-outline-dark"
                                  [disabled]="FormUnsuscription.invalid"
                                  *ngIf="item.referencia === true"
                                  (click)="updateMemberRef(item, newRefMember); modal.close('Save click')">
                            {{ "FORM.save" | translate }}
                          </button>
                          <button type="submit"
                                  class="btn btn-outline-dark"
                                  [disabled]="FormUnsuscription.invalid"
                                  *ngIf="item.referencia === false"
                                  (click)="updateMember(item); modal.close('Save click')">
                            {{ "FORM.save" | translate }}
                          </button>
                          <button type="button"
                                  class="btn btn-primary"
                                  aria-label="Close"
                                  (click)="modal.dismiss('Cross click')">
                            {{ "FORM.cancel" | translate }}
                          </button>
                        </div>
                      </form>
                    </ng-template>
                    <!--/ Modal -->

                  </td>
              </ng-template>
            </app-table-list>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 text-center pt-4 pb-3">
          <button type="button"
                  class="btn btn-primary btn-large"
                  (click)="openModalNewMember(); open(content)">
            {{ "TABLE.newMember" | translate }}
          </button>

          <!-- Modal New Member -->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title"
                  id="modal-register">
                <span class="text-primary">
                  {{ "TABLE.toRegister" | translate }}
                </span>
              </h4>
              <button type="button"
                      class="close bg-primary text-white"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #FormCreateMember="ngForm">
              <div class="modal-body">
                <div class="form-group">
                  <label class="custom-control custom-checkbox">
                    <input id="person-ref"
                           name="referencia"
                           type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="member.referencia">
                    <span class="custom-control-label">
                      {{ "TABLE.isPersonRef" | translate }}
                    </span>
                    <span class="custom-control-description"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label for="date-register">
                    {{ "TABLE.dataRegister" | translate }} {{member.dataAlta}}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <input id="date-register"
                           name="dataAlta"
                           class="form-control"
                           placeholder="dd-mm-yyyy"
                           type="date"
                           [(ngModel)]="member.dataAlta"
                           [required]="true">
                  </div>
                </div>
                <div class="form-group">
                  <label for="relation-register">{{ "TABLE.relation" | translate }} <span class="text-primary">*</span></label>
                  <div class="input-group">
                    <select id="relation-register"
                            name="tipusPersona"
                            class="form-control"
                            [(ngModel)]="member.tipusPersona"
                            [required]="true">
                      <option *ngFor="let type of personType"
                              [ngValue]="type">
                        {{ type.descripcio }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="sex-register">
                    {{ "TABLE.sex" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <select id="sex-register"
                            name="sexe"
                            class="form-control"
                            [(ngModel)]="member.sexe"
                            [required]="true">
                      <option>Home</option>
                      <option>Dona</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="date-birthday">
                    {{ "TABLE.birthday" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <input id="date-birthday"
                           name="dataNaixement"
                           class="form-control"
                           placeholder="dd-mm-yyyy"
                           type="date"
                           [(ngModel)]="member.dataNaixement"
                           [required]="true">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-dark"
                        [disabled]="FormCreateMember.invalid"
                        (click)="createMember(member); modal.close('Save click')">
                  {{ "FORM.save" | translate }}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                  {{ "FORM.cancel" | translate }}
                </button>
              </div>
            </form>
          </ng-template>
          <!--/ Modal -->

        </div>
      </div>
      <!--/ Unity Family -->
      <!-- File Observation -->
      <div class="form-group row">
        <div class="col-12 px-3">
          <label for="fileObservation"
                 class="col-form-label">
            <i class="fa fa-pencil-square-o"></i>
            {{ "FORM.fileObs" | translate }}
          </label>
          <textarea class="form-control cdk-textarea-autosize-measuring"
                    rows="3"
                    type="text"
                    (change)="updateObservations()"
                    id="fileObservation"
                    name="observations"
                    [ngModel]="expedient?.observacions"
                    (ngModelChange)="expedient.observacions = $event">
          </textarea>
        </div>
      </div>
      <!--/ File Observation -->
      <br/>
      <!-- Table Files Valoraciones -->
      <div class="form-group row">
        <div class="col-12 px-3">
          <label for="fileObservation"
                 class="col-form-label">
            <i class="fa fa-eye"></i>
            {{ "OBSTABLE.obs" | translate }}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div [ngClass]="{'col-12' : obsData?.length <= 1, 'col-6' : obsData?.length > 1}"
               class="text-center">
            <!-- Table List Diagnosis -->
            <app-table-list [tableData]="obsData"
                            [options]="options"
                            [rowTemplate]="myRowInitDysplay"
                            (reloadData)="reloadData()">
              <ng-template #myRowInitDysplay let-item>
                <td [ngClass]="{'warning' : item.estat.descripcio === 'BORRADOR', 'success' : item.estat.descripcio === 'VALIDAT'}">
                  DSDIBA-{{item.data | date:'dd/MM/yyyy'}}
                </td>
                <td [ngClass]="{'warning' : item.estat.descripcio === 'BORRADOR', 'success' : item.estat.descripcio === 'VALIDAT'}">
                  {{item.professional.nom}} {{item.professional.cognom1}} {{item.professional.cognom2}}
                </td>
                <td [ngClass]="{'warning' : item.estat.descripcio === 'BORRADOR', 'success' : item.estat.descripcio === 'VALIDAT'}">
                  <a *ngIf="item.estat.descripcio === 'VALIDAT'"
                     [routerLink]="['/observations', {'id': item.id,'date': item.data}]" > <i class="fa fa-eye"></i>
                  </a>
                  <span class="px-2" *ngIf="item.estat.descripcio ==='BORRADOR'"> </span>
                  <a *ngIf="item.estat.descripcio === 'BORRADOR'"
                     [routerLink]="['/tabs', {'diagnosisID': item.id,'expedientID': expedient.id}]" >
                    <i class="fa fa-pencil-square-o"> </i>
                  </a>
                </td>
              </ng-template>
            </app-table-list>
            <!--/ Table List Diagnosis -->
          </div>
          <div class="col-6">
            <!-- Chart -->

            <!--/ Chart -->
          </div>
        </div>
      </div>

      <!--/ Table Files Valoraciones -->
      <div class="form-group row">
        <div class="col-12 text-center pt-4 pb-3">
          <button type="button"
                  class="btn btn-primary btn-large"
                  (click)="createDiagnosis()">
            {{ "FORM.newDiagnosis" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Form Detail -->
