<!-- Search component -->
<app-search></app-search>
<!--/ Search component -->

<!-- Form Detail -->
<section id="file-detail">
  <h2 class="text-center mb-4">{{ "TITLE.file-h2" | translate }}</h2>
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <!-- File ID -->
        <div class="col-12 col-md-6">
          <div class="col-12">
            <label for="fileId"
                   class="col-form-label">
              {{ "FORM.fileId" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.codi}}"
                   id="fileId"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File ID -->
        <!-- File Owner -->
        <div class="col-12 col-md-6">
          <div class="col-12">
            <label for="owner"
                   class="col-form-label">
              {{ "FORM.fileOwner" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.professional?.nom}} {{expedient?.professional?.cognom1}} {{expedient?.professional?.cognom2}}"
                   id="owner"
                   disabled="disabled">
          </div>
        </div>
        <!-- File Owner -->
      </div>
      <div class="form-group row">
        <!-- File Date -->
        <div class="col-12 col-md-6">
          <div class="col-12">
            <label for="fileDate"
                   class="col-form-label">
              {{ "FORM.fileDate" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.dataCreacio | date:'dd/MM/yyyy'}}"
                   id="fileDate"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File Date -->
        <!-- File Family -->
        <div class="col-12 col-md-6">
          <div class="col-12">
            <label for="totalFamilia"
                   class="col-form-label">
              {{ "FORM.totalFamilia" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{expedient?.totalFamilia}}"
                   id="totalFamilia"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File Family -->
      </div>
      <div class="form-group row">
        <!-- Unity Family -->
        <div class="col-12">
          <div class="col-12 text-center">
            <label class="col-form-label">
              {{ "FORM.fileUFamily" | translate }}
            </label>
            <div class="table-responsive">
              <app-table-list [tableData]="dataUnityFamily"
                              [options]="optionsUF"
                              [rowTemplate]="unityFamily"
                              (reloadData)="reloadDataTable()">

                <ng-template #unityFamily let-item >
                  <td class="text-center" [ngClass]="{'info' : item.referencia === true}">
                    {{item.tipusPersona.descripcio}}
                    <i *ngIf="item.referencia === true"
                       class="icon ion-information-circled float-left"
                       placement="right"
                       ngbTooltip="Persona de referencia">
                    </i>
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.sexe}}
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.dataNaixement | date:'dd/MM/yyyy'}}
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.dataAlta | date:'dd/MM/yyyy'}}
                  </td>
                  <td class="text-center"
                      [ngClass]="{'info' : item.referencia === true}">
                    {{item.dataBaixa | date:'dd/MM/yyyy'}}
                    <button *ngIf="item.dataBaixa === '' || item.dataBaixa === null"
                            class="btn btn-outline-primary"
                            (click)="open(content); dateUnsuscription = toDate;">
                      {{ "TABLE.toUnsubscribe" | translate }}
                    </button>

                    <!-- Modal Unsuscription -->
                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title"
                            id="modal-unsubscribe">
                          <span class="text-primary">
                            {{ "TABLE.toUnsubscribe" | translate }}:
                          </span>
                          {{item.tipusPersona.descripcio}}
                        </h4>
                        <button type="button"
                                class="close bg-primary text-white"
                                aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form #FormUnsuscription="ngForm">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="date-unsubscribe">
                              {{ "TABLE.dataUnsubscribe" | translate }}
                              <span class="text-primary">*</span>
                            </label>
                            <div class="input-group">
                              <input id="date-unsubscribe"
                                     name="dataBaixa"
                                     class="form-control"
                                     placeholder="dd/mm/yyyy"
                                     type="date"
                                     max="{{ toDate | date:'yyyy-MM-dd' }}"
                                     [(ngModel)]="dateUnsuscription"
                                     [required]="true">
                            </div>
                          </div>
                          <div class="form-group"
                               *ngIf="item.referencia === true">
                            <label for="date-unsubscribe">
                              {{ "TABLE.newRef" | translate }}
                              <span class="text-primary">*</span>
                            </label>
                            <div class="input-group">
                              <select id="new-person-ref"
                                      class="form-control"
                                      [required]="true"
                                      name="newRefPerson"
                                      (change)="newRefPerson(newRefMember)"
                                      (ngModelChange)="newRefMember = $event"
                                      [(ngModel)]="newRefMember">
                                <ng-container *ngFor="let memberRef of expedient?.persona">
                                  <option *ngIf="memberRef.id != item.id && !memberRef.dataBaixa" [ngValue]="memberRef">
                                    {{ memberRef.tipusPersona.descripcio }}
                                  </option>
                                </ng-container>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit"
                                  class="btn btn-outline-dark"
                                  [disabled]="FormUnsuscription.invalid"
                                  *ngIf="item.referencia === true"
                                  (click)="updateMemberRef(item, newRefMember); modal.close('Save click')">
                            {{ "FORM.save" | translate }}
                          </button>
                          <button type="submit"
                                  class="btn btn-outline-dark"
                                  [disabled]="FormUnsuscription.invalid"
                                  *ngIf="!item.referencia"
                                  (click)="updateMember(item); modal.close('Save click')">
                            {{ "FORM.save" | translate }}
                          </button>
                          <button type="button"
                                  class="btn btn-primary"
                                  aria-label="Close"
                                  (click)="modal.dismiss('Cross click')">
                            {{ "FORM.cancel" | translate }}
                          </button>
                        </div>
                      </form>
                    </ng-template>
                    <!--/ Modal -->
                  </td>
                </ng-template>
              </app-table-list>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 text-center pt-4 pb-3">
          <button type="button"
                  class="btn btn-primary btn-large"
                  (click)="openModalNewMember(newMember); member.dataAlta = toDate;">
            {{ "TABLE.newMember" | translate }}
          </button>

          <!-- Modal New Member -->
          <ng-template #newMember let-modal>
            <div class="modal-header">
              <h4 class="modal-title"
                  id="modal-register">
                <span class="text-primary">
                  {{ "TABLE.toRegister" | translate }}
                </span>
              </h4>
              <button type="button"
                      class="close bg-primary text-white"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #FormCreateMember="ngForm">
              <div class="modal-body">
                <div class="form-group" *ngIf="checkPersonRef()">
                  <label class="custom-control custom-checkbox">
                    <input id="person-ref"
                           name="referencia"
                           type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="member.referencia"
                           (change)="changeRef($event)">
                    <span class="custom-control-label">
                      {{ "TABLE.isPersonRef" | translate }}
                    </span>
                    <span class="custom-control-description"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label for="date-register">
                    {{ "TABLE.dataRegister" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <input id="date-register"
                           name="dataAlta"
                           class="form-control"
                           placeholder="dd/mm/aaaa"
                           type="date"
                           max="{{ toDate | date:'yyyy-MM-dd' }}"
                           [(ngModel)]="member.dataAlta"
                           [required]="true">
                  </div>
                </div>
                <div class="form-group">
                  <label for="relation-register">{{ "TABLE.relation" | translate }} <span class="text-primary">*</span></label>
                  <div class="input-group">
                    <select
                            id="relation-register"
                            name="tipusPersona"
                            class="form-control"
                            [(ngModel)]="member.tipusPersona"
                            [required]="true">
                      <option *ngFor="let type of personType" [ngValue]="type">
                        {{ type.descripcio }}
                      </option>
                    </select>
                    <!-- <select *ngIf="isCheckPersonRef === true"
                                     id="ref"
                                     name="tipusPersona"
                                     class="form-control"
                                     [(ngModel)]="member.tipusPersona"
                                     [required]="true">
                    <option [ngValue]="member.tipusPersona">
                      {{ member.tipusPersona.descripcio }}
                    </option>
                  </select> -->
                  </div>
                </div>
                <div class="form-group">
                  <label for="sex-register">
                    {{ "TABLE.sex" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <select id="sex-register"
                            name="sexe"
                            class="form-control"
                            [(ngModel)]="member.sexe"
                            [required]="true">
                      <option>Home</option>
                      <option>Dona</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="date-birthday">
                    {{ "TABLE.birthday" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <input id="date-birthday"
                           name="dataNaixement"
                           class="form-control"
                           placeholder="dd/mm/aaaa"
                           type="date"
                           max="{{ toDate | date:'yyyy-MM-dd' }}"
                           [(ngModel)]="member.dataNaixement"
                           [required]="true">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-dark"
                        [disabled]="FormCreateMember.invalid"
                        *ngIf="!member.referencia"
                        (click)="createMember(member); modal.close('Save click')">
                  {{ "FORM.save" | translate }}
                </button>
                <button type="submit"
                        class="btn btn-outline-dark"
                        [disabled]="FormCreateMember.invalid"
                        *ngIf="member.referencia"
                        (click)="open(unsuscription); modal.close('Save click')">
                  {{ "FORM.save" | translate }}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                  {{ "FORM.cancel" | translate }}
                </button>
              </div>
            </form>
          </ng-template>
          <!--/ Modal -->
          <!-- Modal Confirmation Unsuscription Member Ref -->
          <ng-template #unsuscription let-modal>
            <div class="modal-header">
              <h4 class="modal-title"
                  id="modal-unsuscription">
                          <span class="text-primary">
                            {{ "TABLE.unsuscription" | translate }}
                          </span>
              </h4>
              <button type="button"
                      class="close bg-primary text-white"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <p class="mt-3">{{ "TABLE.doYouWantUnsuscription" | translate }}</p>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-outline-primary btn-large"
                      (click)="createMember(member); modal.close('Save click')" >
                {{ "TABLE.yes" | translate }}
              </button>
              <button type="button"
                      class="btn btn-primary btn-large"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                {{ "TABLE.no" | translate }}
              </button>
            </div>
          </ng-template>
          <!--/ Modal Confirmation Unsuscription Member Ref -->

          <!-- Modal New Member
          <ng-template #newMember let-modal>
            <div class="modal-header">
              <h4 class="modal-title"
                  id="modal-register">
                <span class="text-primary">
                  {{ "TABLE.toRegister" | translate }}
                </span>
              </h4>
              <button type="button"
                      class="close bg-primary text-white"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #FormCreateMember="ngForm">
              <div class="modal-body">
                <div class="form-group" *ngIf="checkPersonRef()">
                  <label class="custom-control custom-checkbox">
                    <input id="person-ref"
                           name="referencia"
                           type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="member.referencia"
                           (change)="changeRef($event)">
                    <span class="custom-control-label">
                      {{ "TABLE.isPersonRef" | translate }}
                    </span>
                    <span class="custom-control-description"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label for="date-register">
                    {{ "TABLE.dataRegister" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <input id="date-register"
                           name="dataAlta"
                           class="form-control"
                           placeholder="dd/mm/aaaa"
                           type="text"
                           (click)="dataAlta.toggle();"
                           ngbDatepicker #dataAlta="ngbDatepicker"
                           [(ngModel)]="member.dataAlta"
                           [required]="true">
                    <div class="input-group-append">
                      <button class="btn btn-primary fa fa-calendar" (click)="dataAlta.toggle();" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="relation-register">{{ "TABLE.relation" | translate }} <span class="text-primary">*</span></label>
                  <div class="input-group">
                    <select *ngIf="isCheckPersonRef === false"
                            id="relation-register"
                            name="tipusPersona"
                            class="form-control"
                            [(ngModel)]="member.tipusPersona"
                            [required]="true">
                      <option *ngFor="let type of personType" [ngValue]="type">
                        {{ type.descripcio }}
                      </option>
                    </select>
                    <select *ngIf="isCheckPersonRef === true"
                            id="ref"
                            name="tipusPersona"
                            class="form-control"
                            [(ngModel)]="member.tipusPersona"
                            [required]="true">
                      <option [ngValue]="member.tipusPersona">
                        {{ member.tipusPersona.descripcio }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="sex-register">
                    {{ "TABLE.sex" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <select id="sex-register"
                            name="sexe"
                            class="form-control"
                            [(ngModel)]="member.sexe"
                            [required]="true">
                      <option>Home</option>
                      <option>Dona</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="date-birthday">
                    {{ "TABLE.birthday" | translate }}
                    <span class="text-primary">*</span>
                  </label>
                  <div class="input-group">
                    <input id="date-birthday"
                           name="dataNaixement"
                           class="form-control"
                           placeholder="dd/mm/aaaa"
                           type="text"
                           (click)="dataNaixement.toggle()"
                           ngbDatepicker #dataNaixement="ngbDatepicker"
                           [(ngModel)]="member.dataNaixement"
                           [required]="true">
                    <div class="input-group-append">
                      <button class="btn btn-primary fa fa-calendar" (click)="dataNaixement.toggle();" type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit"
                        class="btn btn-outline-dark"
                        [disabled]="FormCreateMember.invalid"
                        *ngIf="!member.referencia"
                        (click)="createMember(member); modal.close('Save click')">
                  {{ "FORM.save" | translate }}
                </button>
                <button type="submit"
                        class="btn btn-outline-dark"
                        [disabled]="FormCreateMember.invalid"
                        *ngIf="member.referencia"
                        (click)="open(unsuscription); modal.close('Save click')">
                  {{ "FORM.save" | translate }}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                  {{ "FORM.cancel" | translate }}
                </button>
              </div>
            </form>
          </ng-template>

          <ng-template #unsuscription let-modal>
            <div class="modal-header">
              <h4 class="modal-title"
                  id="modal-unsuscription">
                          <span class="text-primary">
                            {{ "TABLE.unsuscription" | translate }}
                          </span>
              </h4>
              <button type="button"
                      class="close bg-primary text-white"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <p class="mt-3">{{ "TABLE.doYouWantUnsuscription" | translate }}</p>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-outline-primary btn-large"
                      (click)="createMember(member); modal.close('Save click')" >
                {{ "TABLE.yes" | translate }}
              </button>
              <button type="button"
                      class="btn btn-primary btn-large"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                {{ "TABLE.no" | translate }}
              </button>
            </div>
          </ng-template>
          Modal Confirmation Unsuscription Member Ref -->

        </div>
      </div>
      <!--/ Unity Family -->
      <!-- File Observation -->
      <div class="form-group row">
        <div class="col-12 px-3">
          <label for="fileObservation"
                 class="col-form-label">
            <i class="fa fa-pencil-square-o"></i>
            {{ "FORM.fileObs" | translate }}
          </label>
          <textarea class="form-control cdk-textarea-autosize-measuring"
                    rows="3"
                    type="text"
                    (change)="updateObservations()"
                    id="fileObservation"
                    name="observations"
                    [ngModel]="expedient?.observacions"
                    (ngModelChange)="expedient.observacions = $event">
          </textarea>
        </div>
      </div>
      <!--/ File Observation -->
      <br/>
      <!-- Table Files Valoraciones -->
      <div class="form-group row">
        <div class="col-12 px-3">
          <label for="fileObservation"
                 class="col-form-label col-12">
            <i class="fa fa-eye"></i>
            {{ "OBSTABLE.obs" | translate }}
          </label>
          <div [ngClass]="{'col-12' : obsData?.length <= 2, 'col-12 col-xl-6 float-left' : obsData?.length > 2}"
               class="text-center">
            <div class="table-responsive">
              <!-- Table List Diagnosis -->
              <app-table-list [tableData]="obsData"
                              [options]="options"
                              [rowTemplate]="myRowInitDysplay"
                              (reloadData)="reloadData()">
                <ng-template #myRowInitDysplay let-item>
                  <td [ngClass]="{'warning' : item.estat.descripcio === 'BORRADOR', 'success' : item.estat.descripcio === 'VALIDAT'}">
                    DSDIBA-{{item.data | date:'dd/MM/yyyy'}}
                  </td>
                  <td [ngClass]="{'warning' : item.estat.descripcio === 'BORRADOR', 'success' : item.estat.descripcio === 'VALIDAT'}">
                    {{item.professional.nom}} {{item.professional.cognom1}} {{item.professional.cognom2}}
                  </td>
                  <td [ngClass]="{'warning' : item.estat.descripcio === 'BORRADOR', 'success' : item.estat.descripcio === 'VALIDAT'}">
                    <a *ngIf="item.estat.descripcio === 'VALIDAT'"
                       [routerLink]="['/observations', {'id': item.id,'date': item.data,'exp': expedient.id,'codi':expedient.codi,'professionalID':idProfessional}]" > <i class="fa fa-eye"></i>
                    </a>
                    <a *ngIf="item.estat.descripcio === 'BORRADOR' && idProfessional == item.professional.id"
                       [routerLink]="['/tabs', {'diagnosisID': item.id,'expedientID': expedient.id,'professionalID':idProfessional,'ValoracioName': item.data}]" >
                      <i class="fa fa-pencil-square-o"> </i>
                    </a>
                  </td>
                </ng-template>
              </app-table-list>
              <!--/ Table List Diagnosis -->
            </div>
          </div>
          <div class="col-12 col-xl-6 float-left d-none d-sm-block" *ngIf="obsData?.length > 2">
            <!-- Chart -->
            <div class="card shadow-none">
              <label class="px-4 m-0"><i class="fa fa-bar-chart"></i> Gràfics estadístics</label>
              <div class="card-body pt-0">
                <ngb-tabset>
                  <ngb-tab title="Autonomia funcional">
                    <ng-template ngbTabContent>
                      <div class="p-5 h-100 d-table m-auto">
                        <div>
                          <ngx-charts-bar-vertical
                            class="chart-container"
                            [scheme]="colorScheme"
                            [customColors]="colorAutonomia"
                            [schemeType]="schemeType"
                            [results]="chartsAutonomiaValue"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [yAxisTickFormatting]='formatPercent'
                            [tooltipDisabled]="tooltipDisabled"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabelAutonomia"
                            [showGridLines]="showGridLines"
                            [barPadding]="barPadding"
                            [roundDomains]="roundDomains"
                            (select)="select($event)"
                            (legendLabelClick)="onLegendLabelClick($event)">
                          </ngx-charts-bar-vertical>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Material i instrumental">
                    <ng-template ngbTabContent>
                      <div class="p-5 h-100 d-table m-auto">
                        <div>
                          <ngx-charts-bar-vertical
                            class="chart-container"
                            [scheme]="colorScheme"
                            [customColors]="colorMaterial"
                            [schemeType]="schemeType"
                            [results]="chartsMaterialValue"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel"
                            [yAxisTickFormatting]='formatPercent'
                            [showYAxisLabel]="showYAxisLabel"
                            [tooltipDisabled]="tooltipDisabled"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabelMaterial"
                            [showGridLines]="showGridLines"
                            [barPadding]="barPadding"
                            [roundDomains]="roundDomains"
                            (select)="select($event)"
                            (legendLabelClick)="onLegendLabelClick($event)">
                          </ngx-charts-bar-vertical>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Relacional">
                    <ng-template ngbTabContent>
                      <div class="p-5 h-100 d-table m-auto">
                        <div>
                          <ngx-charts-bar-vertical
                            class="chart-container"
                            [scheme]="colorScheme"
                            [customColors]="colorRelacional"
                            [schemeType]="schemeType"
                            [results]="chartsRelacionalValue"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [yAxisTickFormatting]='formatPercent'
                            [tooltipDisabled]="tooltipDisabled"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabelRelacional"
                            [showGridLines]="showGridLines"
                            [barPadding]="barPadding"
                            [roundDomains]="roundDomains"
                            (select)="select($event)"
                            (legendLabelClick)="onLegendLabelClick($event)">
                          </ngx-charts-bar-vertical>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="General" tabindex="active">
                    <ng-template ngbTabContent>
                      <div class="p-5 h-100 d-table m-auto pills-chart">
                        <ngb-tabset type="pills">
                          <ngb-tab title="Linear Chart">
                            <ng-template ngbTabContent>
                              <ngx-charts-line-chart
                                class="chart-container"
                                [scheme]="colorScheme"
                                [customColors]="colorGeneral"
                                [schemeType]="schemeType"
                                [results]="chartsGroupValue"
                                [legend]="showLegend"
                                (legendLabelClick)="onLegendLabelClick($event)"
                                [gradient]="gradientLine"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [yAxisTickFormatting]='formatPercent'
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [autoScale]="autoScale"
                                [timeline]="timeline"
                                [showGridLines]="showGridLines"
                                [curve]="curve"
                                [rangeFillOpacity]="rangeFillOpacity"
                                [roundDomains]="roundDomainsLine"
                                [tooltipDisabled]="true"
                                (select)="select($event)">
                              </ngx-charts-line-chart>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Area Chart">
                            <ng-template ngbTabContent>
                              <ngx-charts-area-chart
                                class="chart-container"
                                [scheme]="colorScheme"
                                [customColors]="colorGeneral"
                                [schemeType]="schemeType"
                                [results]="chartsGroupValue"
                                [legend]="showLegend"
                                (legendLabelClick)="onLegendLabelClick($event)"
                                [gradient]="gradientLine"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [yAxisTickFormatting]='formatPercent'
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [autoScale]="autoScale"
                                [timeline]="timeline"
                                [showGridLines]="showGridLines"
                                [curve]="curve"
                                [roundDomains]="roundDomainsLine"
                                [tooltipDisabled]="tooltipDisabled"
                                (select)="select($event)">
                              </ngx-charts-area-chart>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Vertical Bar">
                            <ng-template ngbTabContent>
                              <ngx-charts-bar-vertical-2d
                                class="chart-container"
                                [scheme]="colorScheme"
                                [customColors]="colorGeneral"
                                [schemeType]="schemeType"
                                [results]="chartsGroupValue"
                                [gradient]="gradient"
                                [tooltipDisabled]="tooltipDisabled"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [yAxisTickFormatting]='formatPercent'
                                (legendLabelClick)="onLegendLabelClick($event)"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [showGridLines]="showGridLines"
                                [barPadding]="barPadding"
                                [roundDomains]="roundDomains"
                                (select)="select($event)">
                              </ngx-charts-bar-vertical-2d>
                            </ng-template>
                          </ngb-tab>
                        </ngb-tabset>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
            <!--/ Chart -->
          </div>
        </div>
      </div>
      <!--/ Table Files Valoraciones -->

      <!-- Create Diagnosis -->
      <div class="form-group row mt-4">
        <div class="col-12 text-center pt-4 pb-3">
          <button type="button"
                  class="btn btn-primary btn-large"
                  (click)="open(confirmNewDiagnosis)"
                  [disabled]="checkCreateDiagnosis()">
            {{ "FORM.newDiagnosis" | translate }}
          </button>
        </div>
      </div>
        <!-- Modal Confirmation New Diagnosis -->
        <ng-template #confirmNewDiagnosis let-modal>
          <div class="modal-header">
            <h4 class="modal-title"
                id="modal-diagnosis">
              <span class="text-primary">
                {{ "TABLE.createDiagnosis" | translate }}
              </span>
            </h4>
            <button type="button"
                    class="close bg-primary text-white"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p class="mt-3">{{ "TABLE.doYouWantCreateDiagnosis" | translate }}</p>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-outline-primary btn-large"
                    (click)="createDiagnosis(); modal.dismiss('Cross click')" >
              {{ "TABLE.yes" | translate }}
            </button>
            <button type="button"
                    class="btn btn-primary btn-large"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
              {{ "TABLE.no" | translate }}
          </button>
          </div>
        </ng-template>
        <!--/ Modal Confirmation New Diagnosis -->
    </div>
  </div>
</section>
<!--/ Form Detail -->
