<!-- Print Component -->
<section id="print" class="row">
  <div class="col-12">
    <button type="button" class="float-right btn btn-outline-primary no-print" (click)="onPrint();"><i class="fa fa-file-pdf-o"></i> {{ "RESUMEN.pdf" | translate }}</button>
  </div>
</section>
<!--/ Print Component -->

<section>
  <h2 class="text-center mb-4">{{ "OBS.resum" | translate }}</h2>
  <div class="card shadow-none">
    <div class="card-body">
      <div class="form-group row">
        <!-- File ID -->
        <div class="col-6">
          <div class="col-12">
            <label for="fileId"
                   class="col-form-label">
              {{ "FORM.fileId" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{ expedientID }}"
                   id="fileId"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File ID -->
        <!-- File ID -->
        <div class="col-6">
          <div class="col-12">
            <label for="fileId"
                   class="col-form-label">
              {{ "FORM.diagnosisId" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{ 'OBS.dsdiba' | translate }}{{date | date:'dd/MM/yyyy'}}"
                   id="diagnosisId"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File ID -->
      </div>
      <div class="form-group row">
        <!-- File Owner -->
        <div class="col-6">
          <div class="col-12">
            <label for="owner"
                   class="col-form-label">
              {{ "FORM.fileOwner" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{diagnosis?.professional?.nom}} {{diagnosis?.professional?.cognom1}} {{diagnosis?.professional?.cognom2}}"
                   id="owner"
                   disabled="disabled">
          </div>
        </div>
        <!-- File Owner -->
        <!-- File Date -->
        <div class="col-6">
          <div class="col-12">
            <label for="fileDate"
                   class="col-form-label">
              {{ "FORM.fileDate" | translate }}
            </label>
            <input class="form-control"
                   type="text"
                   value="{{date | date:'dd/MM/yyyy'}}"
                   id="fileDate"
                   disabled="disabled">
          </div>
        </div>
        <!--/ File Date -->
      </div>
    </div>
  </div>

  <div class="row m-3" >
    <ng-container>
      <div class="col-12">
        <div class="card ">
          <div class="card-header text-white font-weight-bold bg-grey-400">
            RESUM VALORACIÓ
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <table class="table table-bordered">
                  <tbody>
                      <ng-template ngFor [ngForOf]="evaluations" let-evaluacio let-v="index">
                        <ng-template [ngIf]="evaluacio && evaluacio?.ambit?.ambit?.descripcio.toUpperCase() !== 'GLOBALITAT DEL CAS'">
                          <tr>
                            <th class="bg-primary text-white"    *ngIf="v===0"> Risc {{evaluacio?.ambit?.ambit?.descripcio.toLocaleLowerCase()}}</th>
                            <th class="bg-primary-80 text-white" *ngIf="v===1"> Risc {{evaluacio?.ambit?.ambit?.descripcio.toLocaleLowerCase()}}</th>
                            <th class="bg-primary-60 text-white" *ngIf="v===2"> Risc {{evaluacio?.ambit?.ambit?.descripcio.toLocaleLowerCase()}}</th>
                            <th class="bg-primary-40 text-white" *ngIf="v===3"> Risc {{evaluacio?.ambit?.ambit?.descripcio.toLocaleLowerCase()}}</th>

                            <th class="text-center" [ngClass]="{'warning' : evaluacio?.risc?.descripcio.toUpperCase() === 'RISC',
                                            'danger' : evaluacio?.risc?.descripcio.toUpperCase() === 'ALT RISC',
                                            'success' : evaluacio?.risc?.descripcio.toUpperCase() === 'VULNERABILITAT',
                                            'info' : evaluacio?.risc?.descripcio.toUpperCase() === 'SENSE VALORACI&#211;'}">
                              {{evaluacio?.risc.descripcio.toUpperCase()}}</th>
                          </tr>
                        </ng-template>
                      </ng-template>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active bg-info">
                  <tr>
                    <ng-template ngFor [ngForOf]="evaluations" let-evaluacio>
                      <ng-template [ngIf]="evaluacio?.ambit?.ambit?.descripcio.toUpperCase() === 'GLOBALITAT DEL CAS' ">
                        <th colspan="2" class="text-white bg-primary">Valoració de risc del cas</th>
                      </ng-template>
                    </ng-template>
                  </tr>
                  </thead>
                  <tbody >
                  <ng-container>
                    <tr>
                      <ng-template ngFor [ngForOf]="evaluations" let-evaluacio>
                        <ng-template [ngIf]="evaluacio?.ambit?.ambit?.descripcio.toUpperCase() === 'GLOBALITAT DEL CAS' ">
                          <th
                              [ngClass]="{'warning' : evaluacio.risc?.descripcio.toUpperCase() === 'RISC',
                                      'danger' : evaluacio.risc?.descripcio.toUpperCase() === 'ALT RISC',
                                      'success' : evaluacio.risc?.descripcio.toUpperCase() === 'VULNERABILITAT',
                                      'info' : evaluacio.risc?.descripcio.toUpperCase() === 'SENSE VALORACI&#211;' }">
                            {{evaluacio?.risc?.descripcio.toUpperCase()}}
                          </th>
                        </ng-template>
                      </ng-template>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Ambito -->

  <div class="row m-3" *ngFor="let ambit of ambits">
    <ng-container *ngIf="ambit?.ambit?.descripcio.toUpperCase() !== 'GLOBALITAT DEL CAS'">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-white font-weight-bold"
               [ngClass]="{'bg-warning text-black-50' : ambit?.ambit?.descripcio.toUpperCase() === 'AUTONOMIA',
                         'bg-danger' : ambit?.ambit?.descripcio.toUpperCase() === 'MATERIAL I INSTRUMENTAL',
                         'bg-success' : ambit?.ambit?.descripcio.toUpperCase() === 'RELACIONAL',
                         'bg-info' : ambit?.ambit?.descripcio.toUpperCase() === 'GLOBALITAT DEL CAS'}">
            {{ ambit?.ambit?.descripcio.toUpperCase() }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active">
                  <th>{{ "OBS.ssocial" | translate }}</th>
                  <th class="text-center">{{ "OBS.person" | translate }}</th>
                  <th class="text-center">{{ "OBS.risc" | translate }}</th>
                  </thead>
                  <tbody *ngFor="let entorn of ambit.entorn">
                  <ng-container *ngIf="entorn.pregunta.length > 0">
                    <tr *ngFor="let pregunta of entorn.pregunta">
                      <td>{{ pregunta.situacioSocial.social }}</td>
                      <td class="text-center">{{ pregunta.persona?.tipusPersona?.descripcio }}</td>
                      <td class="text-center"
                          [ngClass]="{'warning' : pregunta.factor?.descripcio.toUpperCase() === 'RISC',
                                      'danger' : pregunta.factor?.descripcio.toUpperCase() === 'ALT RISC',
                                      'success' : pregunta.factor?.descripcio.toUpperCase() === 'VULNERABILITAT',
                                      'info' : pregunta.factor?.descripcio.toUpperCase() === 'SENSE VALORACI&#211;' }">
                        {{ pregunta.factor.descripcio }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="entorn.pregunta?.length == 0">
                    <!-- No hay Situación social -->
                    <tr class="text-center">
                      <td colspan="3">{{ "OBS.no-social" | translate }} {{ entorn.descripcio }}</td>
                    </tr>
                    <!--/ No hay Situación social -->
                  </ng-container>
                  </tbody>
                </table>
                <!-- Result Automatic Evaluations -->
                <table class="table table-borderless" *ngFor="let evaluacion of evaluations">
                  <ng-container *ngIf="evaluacion.ambit.id === ambit.id">
                    <tbody>
                      <!-- Result Automatic Evaluations -->
                      <tr>
                        <td class="text-right">{{ "OBS.risc-auto" | translate }}</td>
                        <td class="text-center" [ngClass]="{'warning' : evaluacion.risc?.descripcio.toUpperCase() === 'RISC',
                                                            'danger' : evaluacion.risc?.descripcio.toUpperCase() === 'ALT RISC',
                                                            'success' : evaluacion.risc?.descripcio.toUpperCase() === 'VULNERABILITAT',
                                                            'info' : evaluacion.risc?.descripcio.toUpperCase() === 'SENSE VALORACI&#211;' }">
                          {{evaluacion.risc.descripcio}}
                        </td>
                      </tr>
                      <!--/ Result Automatic Evaluations -->
                      <!-- Result Professsional Evaluations -->
                      <tr *ngIf="evaluacion.riscProfessional">
                        <td class="text-right">{{ "OBS.risc-pro" | translate }}</td>
                        <td class="text-center" [ngClass]="{'warning' : evaluacion.riscProfessional?.descripcio.toUpperCase() === 'RISC',
                                                            'danger' : evaluacion.riscProfessional?.descripcio.toUpperCase() === 'ALT RISC',
                                                            'success' : evaluacion.riscProfessional?.descripcio.toUpperCase() === 'VULNERABILITAT',
                                                            'info' : evaluacion.riscProfessional?.descripcio.toUpperCase() === 'SENSE VALORACI&#211;' }">
                          {{evaluacion.riscProfessional?.descripcio}}
                        </td>
                      </tr>
                      <!--/ Result Professsional Evaluations -->
                      <!-- Result Professsional Justification -->
                      <tr *ngIf="evaluacion.justificacio">
                        <td class="text-right">{{ "OBS.risc-pro-justify" | translate }}</td>
                        <td class="p-0 rounded-0">
                          <textarea class="form-control" type="text" value="{{ evaluacion.justificacio }}" id="fileObservation" disabled="disabled"></textarea>
                        </td>
                      </tr>
                      <!--/ Result Professsional Justification -->
                    </tbody>
                  </ng-container>
                </table>
              </div>
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active">
                  <th>{{ "OBS.factor" | translate }}</th>
                  <th class="text-center">{{ "OBS.person" | translate }}</th>
                  <th class="text-center">{{ "OBS.type" | translate }}</th>
                  </thead>
                  <tbody>
                  <ng-container *ngIf="ambit.contextualitzacio?.length > 0" >
                    <tr *ngFor="let context of ambit.contextualitzacio">
                      <td>{{ context.factor?.descripcio }}</td>
                      <td class="text-center">
                        {{ context.persona?.tipusPersona?.descripcio }}
                      </td>
                      <td class="text-center"
                          [ngClass]="{'danger' : context.factor?.gravetat.descripcio.toUpperCase() === 'RISC',
                                      'success' : context.factor?.gravetat.descripcio.toUpperCase() === 'PROTECCI&#211;' }">
                        {{ context.factor?.gravetat.descripcio }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="ambit.contextualitzacio?.length == 0">
                    <!-- No hay Factor de contextualización -->
                    <tr class="text-center">
                      <td colspan="3">{{ "OBS.no-factor" | translate }}</td>
                    </tr>
                    <!--/ No hay Factor de contextualización -->
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Observations Ambits -->
            <div class="form-group row">
              <div class="col-12 px-3">
                <label for="fileObservationAutonomy" class="col-form-label">
                  <i class="fa fa-pencil-square-o"></i> {{ "FORM.fileObs" | translate }}
                </label>
                <textarea class="form-control" type="text" value="{{ ambit.observacions }}" id="fileObservationAutonomy" disabled="disabled"></textarea>
              </div>
            </div>
            <!--/ Observations Ambits -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Global -->
  <div class="row m-3" *ngFor="let global of ambits">
    <ng-container *ngIf="global?.ambit?.descripcio.toUpperCase() === 'GLOBALITAT DEL CAS'">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-white font-weight-bold bg-info">
            FACTORS DE CONTEXTUALITZACIÓ GLOBALS DEL CAS
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active">
                  <th>{{ "OBS.factor" | translate }}</th>
                  <th class="text-center">{{ "OBS.person" | translate }}</th>
                  </thead>
                  <tbody>
                  <ng-container *ngIf="global.contextualitzacio?.length > 0" >
                    <tr *ngFor="let context of global.contextualitzacio">
                      <td>{{ context.factor?.descripcio }}</td>
                      <td class="text-center"
                          [ngClass]="{'danger' : context.factor?.gravetat.descripcio.toUpperCase() === 'RISC',
                                      'success' : context.factor?.gravetat.descripcio.toUpperCase() === 'PROTECCI&#211;' }">
                        {{ context.factor?.gravetat.descripcio }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="global.contextualitzacio?.length == 0">
                    <!-- No hay Factor de contextualización -->
                    <tr class="text-center">
                      <td colspan="3">{{ "OBS.no-factor" | translate }}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
              <div class="col-6 px-3">
                <label for="fileObservationAutonomy" class="col-form-label">
                  <i class="fa fa-pencil-square-o"></i> {{ "FORM.fileObs" | translate }}
                </label>
                <textarea class="form-control" type="text" value="{{ global.observacions }}" id="fileObservationGlobal" disabled="disabled"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Global -->

  <!-- Return to Back -->
  <div class="row m-3">
    <div class="col-12 mb-3">
      <button type="button" class="float-right btn btn-primary no-print" [routerLink]="['/home']"><i class="fa fa-chevron-left"></i> {{ "FORM.go-back" | translate }}</button>
    </div>
  </div>
  <!--/ Return to Back -->
</section>
