<nav class="navbar custom-navbar bg-faded main-header px-3">
  <!-- Logo -->
  <div class="col-6 py-3">
    <img src="../../../assets/images/logo-diba.png" height="45" width="247"/></div>
  <!--/ Logo -->
  <!-- User Account -->
  <div class="col-6 py-3">
    <div class="text-right">
      <i class="icon ion-ios-person mr-3"></i>
      <span class="user-name">{{ user.name }}</span>
      <a href="">
        <i class="fa fa-sign-out ml-3"></i>
      </a>
    </div>
  </div>
  <!--/ User Account -->
</nav>
