.app > .mat-drawer-content .main-content {
  overflow-y: auto;
}

.table {
  .table-header th {
    padding: 0.75rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);

    input {
      padding: 1rem;
    }
  }

  tbody tr:nth-of-type(odd) {
    background: #fff !important;
  }

  .bg-table {
    background: rgba(0, 0, 0, 0.05);
  }

  td, th {
    vertical-align: middle !important;
  }
}

a {
  color: inherit;
}

.success {
  color: #155724;
  background-color: #d4edda !important;
  border-color: #c3e6cb;
}

.warning {
  color: #856404;
  background-color: #fff3cd !important;
  border-color: #ffeeba;
}

.danger {
  color: #721c24;
  background-color: #f8d7da !important;
  border-color: #f5c6cb;
}

.info {
  color: #0c5460;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb;
}

.puntual {
  color: #004085;
  background-color: #cce5ff !important;
  border-color: #b8daff;
}

nav.navbar.custom-navbar.main-brand {
  background: #fff;
  height: 77px;
}

a.navbar-brand.mr-auto {
  height: inherit;
  padding: 1em 0;
}

.modal-header .close {
  padding: 1.3rem;
}


/* Styles DIBA */
.navbar-default {
  border-top: solid 1px;
  padding: 0;
}

.collapse:not(.show) {
  display: inline-block;
}

.navbar-left {
  float: left;
}
.navbar-right {
  float: right;
}

.navbar-nav {display: block !important;}

.navbar-default .nav>li {
  float: left;
}

#regio-cap .navbar-default .nav>li a {
  padding: 7px 20px;
  line-height: 16px;
  float: left;
  display: block;
}

.form-control:focus {
  border-color: #d1ecf1;
  box-shadow: 0 0 0 0.2rem rgba(209, 236, 241, 0.5);
}

#regio-cos ul.nav.nav-tabs li.nav-item p {
  margin: 0;
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(1),
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(1) * {
  color: white;
  background-color: rgb(137,21,54);
  border-color:  rgb(137,21,54);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(1) .active,
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(1) .active * {
  color: white;
  background-color: rgb(221, 21, 54);
  border-color:  rgb(221, 21, 54);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(2),
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(2) * {
  color: white;
  background-color: rgb(137,51,84);
  border-color:  rgb(137,51,84);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(2) .active,
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(2) .active * {
  color: white;
  background-color: rgb(221, 21, 54);
  border-color:  rgb(221, 21, 54);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(3),
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(3) * {
  color: white;
  background-color: rgb(137,81,104);
  border-color:  rgb(137,81,104);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(3) .active,
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(3) .active * {
  color: white;
  background-color: rgb(221, 21, 54);
  border-color:  rgb(221, 21, 54);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(4),
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(4) * {
  color: white;
  background-color: rgb(137,101,114);
  border-color:  rgb(137,101,114);
}

#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(4) .active,
#regio-cos ul.nav.nav-tabs li.nav-item:nth-child(4) .active * {
  color: white;
  background-color: rgb(221, 21, 54);
  border-color:  rgb(221, 21, 54);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  left: -23px !important;
  top: 1.5px !important;
}

#regio-cos .tab-content {
  border: 1px solid #ddd;
}

.apply .custom-control-label::before,
.apply .custom-control-label::after {
  width: 28px;
  height: 28px;
}

.custom-checkbox.apply .custom-control-input:checked ~ .custom-control-label::after {
  font-size: 2.5em ;
  line-height: 28px;
}

#regio-cos .tabs-primary ul.nav.nav-tabs li.nav-item * {
  color: #A41E34 !important;
  background-color: #bdbdbd !important;
  border-color:     #bdbdbd !important;
}

#regio-cos .tabs-primary ul.nav.nav-tabs li.nav-item > .active {
  color: #fff !important;
  background-color: #A41E34 !important;
  border-color: #A41E34 !important;
}
h3.popover-header {
  margin-top: 0px;
  background:  rgb(137,21,54);
  color:white;
}
.popover-body {
  background: #EDEDED;
  color:black;
}

.pills-chart .tab-content {
  border: none !important;
}

.pills-chart .nav-pills .nav-link {
  border-radius: 0.25rem;
  border: 1px solid;
  margin: -1em 0.5em 2em;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
  th {
    background: #000 !important;
  }
}
