
<section *ngIf="value">
  <!-- Ambito -->
  <div class="row m-3" *ngFor="let ambit of value.ambit">
    <ng-container *ngIf="ambit?.ambit?.descripcio?.toUpperCase() !== 'GLOBALITAT DEL CAS'">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-white font-weight-bold"
               [ngClass]="{'bg-warning text-black-50' : ambit?.ambit?.descripcio?.toUpperCase() === 'AUTONOMIA',
                         'bg-danger' : ambit.ambit?.descripcio.toUpperCase() === 'MATERIAL I INSTRUMENTAL',
                         'bg-success' : ambit.ambit?.descripcio.toUpperCase() === 'RELACIONAL',
                         'bg-info' : ambit.ambit?.descripcio.toUpperCase() === 'GLOBALITAT DEL CAS'}">
            {{ ambit.ambit?.descripcio?.toUpperCase() }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active">
                  <th>{{ "OBS.ssocial" | translate }}</th>
                  <th class="text-center">{{ "OBS.person" | translate }}</th>
                  <th class="text-center">{{ "OBS.risc" | translate }}</th>
                  </thead>
                  <tbody *ngFor="let entorn of ambit.entorn">
                  <ng-container *ngIf="entorn.pregunta.length > 0">
                    <tr *ngFor="let pregunta of entorn.pregunta">
                      <td>{{ pregunta.situacioSocial.social }}</td>
                      <td class="text-center">{{ pregunta.persona?.tipusPersona?.descripcio }}</td>
                      <td class="text-center"
                          [ngClass]="{'warning' : pregunta.factor?.descripcio.toUpperCase() === 'RISC',
                                      'danger' : pregunta.factor?.descripcio.toUpperCase() === 'ALT RISC',
                                      'success' : pregunta.factor?.descripcio.toUpperCase() === 'VULNERABILITAT',
                                      'info' : pregunta.factor?.descripcio.toUpperCase() === 'SENSE VALORACI&#211;' }">
                        {{ pregunta.factor.descripcio }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="entorn.pregunta?.length == 0">
                    <!-- No hay Situación social -->
                    <tr class="text-center">
                      <td colspan="3">{{ "OBS.no-social" | translate }} {{ entorn.descripcio }}</td>
                    </tr>
                    <!--/ No hay Situación social -->
                  </ng-container>
                  </tbody>
                </table>
                 <!--Result Automatic Evaluations -->
                <table class="table table-borderless" *ngFor="let evaluacion of value.valoracio.evaluacions; let e = index;">
                  <ng-container *ngIf="evaluacion && evaluacion.ambit.ambit.id === ambit.ambit.id">
                    <tbody>
                    <!--Result Automatic Evaluations -->
                    <tr class="mr-3">
                      <td class="text-right">{{ "OBS.risc-auto" | translate }}</td>
                      <td class="text-center" [ngClass]="{'warning' : evaluacion.risc?.descripcio?.toUpperCase() === 'RISC',
                                                            'danger' : evaluacion.risc?.descripcio?.toUpperCase() === 'ALT RISC',
                                                            'success' : evaluacion.risc?.descripcio?.toUpperCase() === 'VULNERABILITAT',
                                                            'info' : evaluacion.risc?.descripcio?.toUpperCase() === 'SENSE VALORACI&#211;' }">
                        {{evaluacion?.risc?.descripcio}}
                      </td>
                    </tr>
                    <!--/ Result Automatic Evaluations -->
                    <!--Result Professsional Evaluations -->
                    <tr>
                      <td class="text-right">{{ "OBS.risc-pro" | translate }}</td>
                      <td class="text-center">
                        <select class="form-control risc-pro"
                                id="t2person"
                                name="persona"
                                [ngModel]="evaluacion?.riscProfessional?.descripcio"
                                (ngModelChange)="setRisc(evaluacion.riscProfessional, ambit , $event)"
                                [ngClass]="{'warning' : evaluacion?.riscProfessional?.descripcio?.toUpperCase() === 'RISC',
                                            'danger' : evaluacion?.riscProfessional?.descripcio?.toUpperCase() === 'ALT RISC',
                                            'success' : evaluacion?.riscProfessional?.descripcio?.toUpperCase() === 'VULNERABILITAT',
                                            'info' : evaluacion?.riscProfessional?.descripcio?.toUpperCase() === 'SENSE VALORACI&#211;' }">
                          <option *ngFor="let risc of riscos"> {{risc.descripcio}} </option>
                        </select>

                      </td>
                    </tr>
                    <tr *ngIf=" evaluacion?.riscProfessional?.descripcio && evaluacion?.riscProfessional?.descripcio !== 'Sense Valoració'">
                      <td class="text-right">Justificació risc professional</td>
                      <td class="text-center">
                        <textarea class="form-control" type="text" id="fileRiscProfesionalObservation"
                                  [ngModel]="evaluacion?.justificacio"
                                  (ngModelChange)="evaluacion.justificacio = $event">

                        </textarea>

                      </td>
                    </tr>
                    <!--/ Result Professsional Evaluations -->
                    </tbody>
                  </ng-container>
                </table>
              </div>
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active">
                  <th>{{ "OBS.factor" | translate }}</th>
                  <th class="text-center">{{ "OBS.person" | translate }}</th>
                  <th class="text-center">{{ "OBS.type" | translate }}</th>
                  </thead>
                  <tbody>
                  <ng-container *ngIf="ambit.contextualitzacio?.length > 0" >
                    <tr *ngFor="let context of ambit.contextualitzacio">
                      <td>{{ context.factor?.descripcio }}</td>
                      <td class="text-center">
                        {{ context.persona?.tipusPersona?.descripcio }}
                      </td>
                      <td class="text-center"
                          [ngClass]="{'danger' : context.factor?.gravetat.descripcio.toUpperCase() === 'RISC',
                                      'success' : context.factor?.gravetat.descripcio.toUpperCase() === 'PROTECCI&#211;' }">
                        {{ context.factor?.gravetat.descripcio }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="ambit.contextualitzacio?.length == 0">
                    <!-- No hay Factor de contextualización -->
                    <tr class="text-center">
                      <td colspan="3">{{ "OBS.no-factor" | translate }}</td>
                    </tr>
                    <!--/ No hay Factor de contextualización -->
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Observations Ambits -->
            <div class="form-group row">
              <div class="col-12 px-3">
                <label for="fileObservationAutonomy" class="col-form-label">
                  <i class="fa fa-pencil-square-o"></i> {{ "FORM.fileObs" | translate }}
                </label>
                <textarea [ngModel]="ambit?.observacions" class="form-control" type="text"
                          (ngModelChange)="ambit.observacions = $event" id="fileObservationAutonomy"></textarea>
              </div>
            </div>
            <!--/ Observations Ambits -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Global -->
  <div class="row m-3" *ngFor="let global of value.ambit">
    <ng-container *ngIf="global.ambit?.descripcio.toUpperCase() === 'GLOBALITAT DEL CAS'">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-white font-weight-bold bg-info">
            {{ global.ambit?.descripcio.toUpperCase() }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <table class="table table-bordered">
                  <thead class="table-active">
                  <th>{{ "OBS.factor" | translate }}</th>
                  <th class="text-center">{{ "OBS.person" | translate }}</th>
                  <th class="text-center">{{ "OBS.type" | translate }}</th>
                  </thead>
                  <tbody>
                  <ng-container *ngIf="global.contextualitzacio?.length > 0" >
                    <tr *ngFor="let context of global.contextualitzacio">
                      <td>{{ context.factor?.descripcio }}</td>
                      <td class="text-center">
                        {{ context.persona?.tipusPersona?.descripcio }}
                      </td>
                      <td class="text-center"
                          [ngClass]="{'danger' : context.factor?.gravetat.descripcio.toUpperCase() === 'RISC',
                                      'success' : context.factor?.gravetat.descripcio.toUpperCase() === 'PROTECCI&#211;' }">
                        {{ context.factor?.gravetat.descripcio }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="global.contextualitzacio?.length == 0">
                    <!-- No hay Factor de contextualización -->
                    <tr class="text-center">
                      <td colspan="3">{{ "OBS.no-factor" | translate }}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
              <div class="col-6 px-3">
                <label for="fileObservationAutonomy" class="col-form-label">
                  <i class="fa fa-pencil-square-o"></i> {{ "FORM.fileObs" | translate }}
                </label>
                <textarea class="form-control" type="text" value="{{ global.observacions }}" id="fileObservationGlobal" disabled="disabled"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Global -->

  <!-- Return to Back -->
  <div class="row my-3">
    <div class="col-12 mb-3 text-center">

      <button  class="align-middle btn btn-outline-primary no-print btn-lg" [disabled]="riscProfesionalWithoutValidation()" type="button" style="width: 20%;"  (click)="finishDiagnostic()" > {{ "FORM.validation" | translate }}</button>

    </div>
  </div>
  <!--/ Return to Back -->
</section>
