.bg-primary-20 {
  background-color: rgba(137,21,54,0.2);
}
.bg-primary-40 {
  background-color: rgba(137,21,54,0.4);
}
.bg-primary-60 {
  background-color: rgba(137,21,54,0.6);
}
.bg-primary-80 {
  background-color: rgba(137,21,54,0.8);
}
.border_top{
  border-top: black;
  border-right: black;
  border-left:  black;
  border-style: solid;
}
.border_bot{
  border-bottom: black;
  border-right: black;
  border-left:  black;
  border-style: solid;
}
.rojo_1{
  color: white;
  background-color: rgb(137,21,54);
  border-color:  rgb(137,21,54);
}
.rojo_2{
  color: white;
  background-color: rgb(137,51,84);
  border-color:  rgb(137,51,84);
}
.rojo_3{
  color: white;
  background-color: rgb(137,81,104);
  border-color:  rgb(137,81,104);
}
.rojo_4{
  color: white;
  background-color: rgb(137,101,114);
  border-color:  rgb(137,101,114);
}
@media print{
  #waterMark {
    display: block!important;
     position: absolute;
     z-index: 9999999;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: url('../../../../../assets/images/waterMark.svg');
   }
  .doNotPrint{display:none !important;}
  .exact-grey{
    -webkit-print-color-adjust: exact;
    background-color: #bdbdbd !important;
  }
  .bg-primary-exact {
    -webkit-print-color-adjust: exact;
    background-color: rgb(137,21,54)!important;
  }
  .bg-primary-40 {
    -webkit-print-color-adjust: exact;
    background-color: rgba(137,21,54,0.4)!important;
  }
  .bg-primary-60 {
    -webkit-print-color-adjust: exact;
    background-color: rgba(137,21,54,0.6)!important;
  }
  .bg-primary-80 {
    -webkit-print-color-adjust: exact;
    background-color: rgba(137,21,54,0.8)!important;
  }
  .verde{
    -webkit-print-color-adjust: exact;
    background-color: #d4edda !important;
  }
  .rojo{
    -webkit-print-color-adjust: exact;
    background-color: #f8d7da !important;
  }
  .amarillo{
    -webkit-print-color-adjust: exact;
    background-color: #fff3cd !important;
  }
  .azul{
    -webkit-print-color-adjust: exact;
    background-color: #d1ecf1 !important;
  }
  .rojo_1{
    -webkit-print-color-adjust: exact;
    color: white;
    background-color: rgb(137,21,54);
    border-color:  rgb(137,21,54);
  }
  .rojo_2{
    -webkit-print-color-adjust: exact;
    color: white;
    background-color: rgb(137,51,84);
    border-color:  rgb(137,51,84);
  }
  .rojo_3{
    -webkit-print-color-adjust: exact;
    color: white;
    background-color: rgb(137,81,104);
    border-color:  rgb(137,81,104);
  }
  .rojo_4{
    -webkit-print-color-adjust: exact;
    color: white;
    background-color: rgb(137,101,114);
    border-color:  rgb(137,101,114);
  }
  .border_top{
    -webkit-print-color-adjust: exact;
    border-top: black;
    border-right: black;
    border-left:  black;
    border-style: solid;
  }
  .border_bot{
    -webkit-print-color-adjust: exact;
    border-bottom: black;
    border-right: black;
    border-left:  black;
    border-style: solid;
  }
}
.border_top{
  border-top: black;
  border-right: black;
  border-left:  black;
  border-style: solid;
}
.border_bot{
  border-bottom: black;
  border-right: black;
  border-left:  black;
  border-style: solid;
}
#waterMark {
  position: absolute;
  display: block;
  min-width: 100%;
  opacity: 0.5;
  text-align: center;
  background-image: url( "../../../../../assets/images/waterMark.svg");
  z-index: 999999;
  padding-top: 20%;
  background-repeat: repeat-y;
  background-size: 100%;
  height: 100%;
}
