
<div class="row">
    <div class="col-12 mb-3">
      <h2 class="text-center mb-4">Resum valoració </h2>
      <button type="button" class="float-right btn btn-outline-primary"><i class="fa fa-file-pdf-o"></i> Generar PDF</button>
    </div>
  </div>
  <ng-template ngFor [ngForOf]="value.ambits" let-ambit>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-warning text-white">
            {{ambit.descripcio}}
          </div>
    <ng-template ngFor [ngForOf]="ambit.entorn" let-entorn>
      <div class="card-header bg-info text-white">
        {{entorn.descripcio}}
      </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <table class="table table-bordered">
                <thead class="table-active">
                <th>Situacio Social</th>
                <th class="text-center">Persona</th>
                <th class="text-center">Risc</th>
                </thead>
                <tbody>
                <ng-template ngFor [ngForOf]="entorn.pregunta" let-pregunta>
                <tr>
                  <td>{{pregunta.situacioSocial.social}}</td>
                  <td class="text-center">Pare</td>
                  <td class="text-center warning">Morbi facilisis</td>
                </tr>
                <tr>
                  <td>Mauris vulputate nulla at ex volutpat, a blandit </td>
                  <td class="text-center">Mare</td>
                  <td class="text-center danger">Morbi facilisis</td>
                </tr>
                </ng-template>
                </tbody>
              </table>
              <table class="table table-borderless">
                <tbody>
                <tr>
                  <td class="text-right">Risc automàtic segon situació</td>
                  <td class="text-center warning">Morbi facilisis</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <table class="table table-bordered">
                <thead class="table-active">
                <th>Factor Contextualizació</th>
                <th>Persona</th>
                <th>Tipus</th>
                </thead>
                <tbody>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td class="text-center">Fill</td>
                  <td class="text-center danger">Morbi facilisis</td>
                </tr>
                <tr>
                  <td>Mauris vulputate nulla at ex volutpat, a blandit </td>
                  <td class="text-center">Filla</td>
                  <td class="text-center danger">Morbi facilisis</td>
                </tr>
                </tbody>
              </table>
              <table class="table table-borderless">
                <tbody>
                <tr>
                  <td class="text-right">Risc automàtic segon situació</td>
                  <td class="text-center danger">Morbi facilisis</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 px-3">
              <label for="fileObservationAutonomy" class="col-form-label">
                <i class="fa fa-pencil-square-o"></i> {{ "FORM.fileObs" | translate }}
              </label>
              <textarea class="form-control" type="text" value="" id="fileObservationAutonomy"></textarea>
            </div>
          </div>
        </div>


    </ng-template>
        </div>
        </div>
    </div>
</ng-template>
    <!--/ Ambito Autonomico -->
  <div class="row">
    <div class="col-12 mb-3">
      <button type="button" class="float-right btn btn-primary"><i class="fa fa-chevron-left"></i> Tornar</button>
    </div>
  </div>

